<div class="card-content scentered">
    <div class="col-sm-6 offset-sm-3 centered">
        <h2>Our statistics
            <img *ngIf="!show_statistic" src="../../assets/arrow_drop_down.png" class="arrow-drop" (click)="show_statistic=true">
            <img *ngIf="show_statistic" src="../../assets/arrow_drop_up.png" class="arrow-drop" (click)="show_statistic=false"></h2><br>
        <table *ngIf="show_statistic">
            <tr>
                <td>Number of students registered:</td>
                <td>{{n_students}}</td>
            </tr>
            <tr>
                <td>Number of teachers registered:</td>
                <td>{{n_teachers}}</td>
            </tr>
            <tr>
                <td>Number of classes held last week:</td>
                <td>{{n_week}}</td>
            </tr>
            <tr>
                <td>Number of classes held last month:</td>
                <td>{{n_month}}</td>
            </tr>
        </table>
    </div>
</div>
<br><br>
<div class="card-content">
<h2>Available for listening
    <img *ngIf="!show_available" src="../../assets/arrow_drop_down.png" class="arrow-drop" (click)="show_available=true">
    <img *ngIf="show_available" src="../../assets/arrow_drop_up.png" class="arrow-drop" (click)="show_available=false"></h2><br>
<table *ngIf="show_available">
    <tr>
        <th>Subject name
            <img class="arrow" src="../../assets/arrow_up.png" (click)="sort(0,0)">
            <img class="arrow" src="../../assets/arrow_down.png" (click)="sort(1,0)"></th>
        <th>Teacher name
            <img class="arrow" src="../../assets/arrow_up.png" (click)="sort(0,1)">
            <img class="arrow" src="../../assets/arrow_down.png" (click)="sort(1,1)"></th>
        <th>Teacher surname
            <img class="arrow" src="../../assets/arrow_up.png" (click)="sort(0,2)">
            <img class="arrow" src="../../assets/arrow_down.png" (click)="sort(1,2)"></th>
        <th>Average grade
            <img class="arrow" src="../../assets/arrow_up.png" (click)="sort(0,3)">
            <img class="arrow" src="../../assets/arrow_down.png" (click)="sort(1,3)"></th>
        <!-- <th>Number of grades
            <img class="arrow" src="../../assets/arrow_up.png" (click)="sort(0,4)">
            <img class="arrow" src="../../assets/arrow_down.png" (click)="sort(1,4)"></th> -->
        <th>Link to profile</th>
    </tr>
    <tr>
        <td>
            <input type="text" [(ngModel)]="search_subject" placeholder="subject">
            <button (click)="search(0)">Search</button>
        </td>
        <td>
            <input type="text" [(ngModel)]="search_name" placeholder="name">
            <button (click)="search(1)">Search</button>
        </td>
        <td>
            <input type="text" [(ngModel)]="search_surname" placeholder="surname">
            <button (click)="search(2)">Search</button>
        </td>
        <td>
            <input type="text" [(ngModel)]="search_grade" placeholder="grade">
            <button (click)="search(3)">Search</button>
        </td>
        <!-- <td>
            <input type="text" [(ngModel)]="search_num_grades" placeholder="number of grades">
            <button (click)="search(4)">Search</button>
        </td> -->
    </tr>
    <tr *ngFor="let s of subject_helpers">
        <td>{{s.subject_name}}</td>
        <td>{{s.teacher_name}}</td>
        <td>{{s.teacher_surname}}</td>

        <td>
            <img class="arrow" *ngFor="let star of s.stars" src={{star}}>
            {{s.teacher_avg_grade}} ({{s.teacher_num_grades}})
        </td>
        <!-- <td></td> -->
        <td><a (click)="go_to_profile(s.teacher_username)">Profile</a></td>
    </tr>
</table>
</div>
<br><br>

<div class="card-content scentered">
    <div class="col-sm-6 offset-sm-3 centered">
    <h2>Schedule a class</h2><br>
    <button *ngIf="!show_calendar1 && !show_calendar2" (click)="show_calendar1=true">Use date time picker</button>
    <button *ngIf="!show_calendar1 && !show_calendar2" (click)="show_calendar2=true">Use smart calendar</button>

    <table *ngIf="show_calendar1">
        <tr>
            <td>Pick a time</td>
            <td>
                <input type="datetime-local" [(ngModel)]="datetime_picked" (change)="check_date()">
            </td>
        </tr>
        <tr>
            <td>Pick a subject</td>
            <td>
                <select [(ngModel)]="subject_picked" (change)="pick_subject()">
                    <option [defaultSelected]="true">None</option>
                    <option *ngFor="let s of subjects"> {{s.name}} </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Pick a teacher</td>
            <td *ngIf="teachers_of_subject_picked.length!=0">
                <select [(ngModel)]="teacher_picked" (change)="check_teacher_availability()" (click)="check_teacher_availability()">
                    <option value="" disabled selected hidden>Pick a teacher</option>
                    <option *ngFor="let t of teachers_of_subject_picked" value = {{t.username}}>
                        {{t.name}} {{t.surname}} - {{t.username}}
                    </option>
                </select>
            </td>
            <td *ngIf="teachers_of_subject_picked.length<1">
                <select>
                    <option value="" disabled selected hidden>Nobody available</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <input type="text" [(ngModel)]="description" placeholder="description">
            </td>
        </tr>
        <tr>
            <td>Double class</td>
            <td>
                <input type="checkbox" [(ngModel)]="double">
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="show_calendar1=false; show_calendar2=false">Back</button>
            </td>
            <td colspan="2">
                <button (click)="schedule()">Schedule a class</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">{{schedule_msg}}</td>
        </tr>
    </table>

    <table *ngIf="show_calendar2">

        <tr>
            <td>Pick a subject</td>
            <td>
                <select [(ngModel)]="subject_picked" (change)="pick_subject()">
                    <option [defaultSelected]="true">None</option>
                    <option *ngFor="let s of subjects"> {{s.name}} </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Pick a teacher</td>
            <td *ngIf="teachers_of_subject_picked.length!=0">
                <select [(ngModel)]="teacher_picked" (change)="check_teacher_availability()" (click)="check_teacher_availability()">
                    <option value="" disabled selected hidden>Pick a teacher</option>
                    <option *ngFor="let t of teachers_of_subject_picked" value = {{t.username}}>
                        {{t.name}} {{t.surname}} - {{t.username}}
                    </option>
                </select>
            </td>
            <td *ngIf="teachers_of_subject_picked.length<1">
                <select>
                    <option value="" disabled selected hidden>Nobody available</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <input type="text" [(ngModel)]="description" placeholder="description">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="show_calendar1=false; show_calendar2=false">Back</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">{{schedule_msg}}</td>
        </tr>
    </table>
</div>
</div>

<div class="row card-content" *ngIf="show_calendar2">
    <div class="col-md-6">
            <button
                mwlCalendarPreviousView
                [view]="'week'"
                [(viewDate)]="viewDate"
            >
                Previous
            </button>
            <button
                mwlCalendarToday
                [(viewDate)]="viewDate"
            >
                Today
            </button>
            <button
                mwlCalendarNextView
                [view]="'week'"
                [(viewDate)]="viewDate"
            >
                Next
            </button>
    </div>
    <div class="col-md-6 text-right">
        <h3>{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
<br />

<br><br>
<mwl-calendar-week-view style="color: black" *ngIf="show_calendar2"
                        [viewDate]="viewDate"
                        [events]="events"
                        [dayStartHour]="10"
                        [dayEndHour]="18"
                        [excludeDays]="[0, 6]"
                        [hourSegmentTemplate]="weekViewHourSegmentTemplate"
></mwl-calendar-week-view>

<ng-template
    #weekViewHourSegmentTemplate
    let-segment="segment"
    let-locale="locale"
    let-segmentHeight="segmentHeight"
    let-isTimeLabel="isTimeLabel"
>
    <div
        #segmentElement
        class="cal-hour-segment"
        [style.height.px]="segmentHeight"
        [class.cal-hour-start]="segment.isStart"
        [class.cal-after-hour-start]="!segment.isStart"
        [ngClass]="segment.cssClass"
        (mousedown)="start_drag_to_create(segment, $event, segmentElement)"
        style="background-color: rgba(17, 45, 58, 0.445);"
    >
        <div class="cal-time" *ngIf="isTimeLabel">
            {{ segment.date | calendarDate:'weekViewHour':locale }}
        </div>
    </div>
</ng-template>

</div>
