<!-- Authors : Savo Cvijetic 0054/2020 !-->
{% extends 'cityhopper/basis.html' %}

{% block content %}
    <div class="card_container">
        <div class="card_content heading card_heading">
            <h2>Log in</h2>
        </div>
        <div class="card_content">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <div style="text-align:center">
                    <button type="submit" class="the_button"> Log in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}