<!-- Authors : Savo Cvijetic 0054/2020 !-->
{% extends 'cityhopper/basis.html' %}

{% block content %}
    <div class="card_container">
        <div class="card_content heading card_heading">
            <h2>Sign up</h2>
        </div>
        <div class="card_content" style="padding:20px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div style="text-align:center">
                    <button type="submit" class="the_button"> Sign up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}