<div class="card-content centered">
    <h1>Reset your password</h1><br><br>

<table>
    <div *ngIf="step==0;">
        <input type="text" placeholder="username" [(ngModel)]="username"><br>
        <button (click)="enter()">Enter username</button><br><br>
    </div>

    <div *ngIf="step==1;">
        {{user.sec_question}} ? <br>
        <input type="text" placeholder="Answer here" [(ngModel)]="answer"><br>
        <button (click)="submit()" >Submit answer</button>
    </div>

    <div *ngIf="step==2;">
        
        <input type="password" placeholder="new password" [(ngModel)]="newp">
        <input type="password" placeholder="new password repeated" [(ngModel)]="newp2"><br>
        
        <button (click)="reset_password()">Reset password</button>
    </div>
</table>
<br>
<div class="error"> {{msg}} </div>
</div>